button {
  width: 100px;
  height: 30px;
  background-color: yellow;
}
.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: blue;
}
.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
}
